body {
  width: 1440px;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.conteiner {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  margin: 0;
  padding: 0;
}

.inner-page .main-header {
  height: 355px;
  margin: 0;
  margin-bottom: 55px;
  background-color: #eeeeee;
}

.button {
  display: inline-block;
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  outline: none;
}

.header-logo img {
  opacity: 0;
}

.header-logo {
  width: 160px;
  height: 65px;
  margin-top: 49px;
}

a.header-logo {
  background-image: url("../img/nerds-logo.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

a.header-logo:hover {
  background-image: url("../img/nerds-logo-hover.png");
  cursor: pointer;
}

a.header-logo:focus {
  background-image: url("../img/nerds-logo-focus.png");
}

.main-navigation {
  display: flex;
  flex-direction: column;
  height: 114px;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

.main-navigation-wrapper {
  width: 100%;
}

.main-navigation-wrapper .conteiner {
  display: flex;
  justify-content: space-between;
}

.site-navigation, .user-cart {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 440px;
  margin-top: 75px;
}

.site-navigation a, .user-cart a {
  display: block;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.user-cart {
  display: flex;
  max-width: 160px;
  flex-wrap: wrap;
  align-items: flex-end;
}

.user-cart a {
  padding: 75px 0 35px;
}

.user-cart .cart-icon {
  position: relative;
  padding-left: 80px;
}

.cart-icon::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 30px;
  left: 40px;
  top: 82px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-title {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  margin-top: 78px;
}

.active a {
  display: block;
  border-bottom: 2px solid #fb565a;
}

.site-navigation a:hover, .user-cart a:hover {
  color: #fb565a;
  cursor: pointer;
}

.site-navigation a:focus, .user-cart a:focus {
  color: #a6a6a6;
}

.slider {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #eeeeee;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url(../img/slide1.png);
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url(../img/slide2.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url(../img/slide3.png);
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-button {
  display: block;
  width: 240px;
  padding: 16px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slider-button:hover, .slider-button:focus {
  background-color: #e74246;
}

.slider-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  min-height: 279px;
  margin: 0px;
  padding: 0px;
  margin-top: 80px;
  padding-bottom: 78px;
  border-bottom: 2px solid #eeeeee;
  list-style: none;
}

.services-item {
  width: 300px;
  min-height: 350px;
  list-style: none;
  text-align: left;
  margin-right: 100px;
}

.services-item:last-child {
  margin-right: 0;
}

.services-item img {
  margin-bottom: 18px;
}

.services-item h3 {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

.services-item p {
  width: 250px;
  margin: 0;
  line-height: 24px;
  margin-bottom: 33px;
}

.button-services {
  width: 160px;
  padding: 13px 0;
  border-radius: 2px;
  text-decoration: none;
}

.services-item-web {
  color: #ffffff;
  background-color: #fb565a;
}

.services-item-web:hover {
  color: #ffffff;
  background-color: #e74246;
  cursor: pointer;
}

.services-item-web:active {
  color: #e37376;
  background-color: #c13135;
}

.services-item-app {
  color: #ffffff;
  background-color: #00ca74;
}

.services-item-app:hover {
  color: #ffffff;
  background-color: #00bc6c;
  cursor: pointer;
}

.services-item-app:active {
  color: #4dc491;
  background-color: #00aa62;
}

.services-item-presentetion {
  color: #ffffff;
  background-color: #efc84a;
}

.services-item-presentetion:hover {
  color: #ffffff;
  background-color: #eab534;
  cursor: pointer;
}

.services-item-presentetion:focus {
  color: #edc265;
  background-color: #e5a722;
}

.index-columns {
  display: flex;
  justify-content: space-between;
}

.studio-design {
  width: 665px;
  min-height: 410px;
  margin-top: 74px;
  margin-bottom: 35px;
}

.studio-title {
  height: 96px;
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 26px;
}

.studio-design p {
  height: 64px;
  line-height: 24px;
  margin-bottom: 23px;
}

.order-list {
  height: 182px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.order-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.order-list li {
  padding-bottom: 24px;
}

.order-items::before {
  position: absolute;
  top: 11px;
  left: 0;
  display: inline-block;
  content: "";
  width: 23px;
  border: 1px solid #fb565a;
  vertical-align: middle;
}

.order-items {
  position: relative;
  padding-left: 35px;
}

.nerds-illustration {
  width: 360px;
  height: 208px;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.achivments-list {
  display: flex;
  width: 360px;
  min-height: 170px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.achivments-title {
  margin-top: 35px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.achivments-item {
  width: 90px;
  margin: 0;
  padding: 0;
  margin-top: 42px;
  margin-right: 28px;
}

.achivments-item:last-child {
  width: 114px;
}

.achivments-item span {
  position: relative;
  font-size: 45px;
  line-height: 10px;
  font-weight: bold;
}

.achivments-item span::after {
  position: absolute;
  content: "\0025";
  font-size: 24px;
  line-height: 10px;
  top: 17px;
}

.filter-item {
  margin: 0px;
  padding: 0px;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 35px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #eeeeee;
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  padding: 0;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px #cccdcd;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.range-price {
  font-size: 0;
}

.range-price label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.range-price input {
  width: 60px;
  margin: 0;
  margin-left: 10px;
  margin-bottom: 53px;
  padding: 8px 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #6a7073;
  text-align: center;
  border: none;
  border-radius: 3px;
  background-color: #eeeeee;
}

.max-price {
  text-align: right;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 260px;
  margin: 0px;
  padding: 0px;
}

.filter legend {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 20px;
}

.filter-item legend {
  margin-bottom: 13px;
}

.filter-option {
  padding-bottom: 5px;
}

.filter-option:last-child {
  margin-bottom: 28px;
}

.filter-features {
  padding: 0;
}

.button-filters {
  display: block;
  width: 260px;
  padding: 15px 0;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: none;
  box-sizing: content-box;
  background-color: #eeeeee;
  color: #000000;
  border: none;
}

.button-filters.button:hover, .button-filters.button:focus {
  background-color: #dfdfdf;
  cursor: pointer;
}

.button-filters.button:active {
  background-color: #d5d5d5;
  border: transparent;
  color: #959595;
}

.catalog .sort {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 3px;
  margin-bottom: 45px;
  color: #dadada;
  font-size: 14px;
  text-transform: uppercase;
}

.catalog .title-sort {
  margin-right: 263px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}

.catalog span {
  font-size: 14px;
  line-height: 18px;
  margin-right: 22px;
}

.catalog .current {
  color: #000000;
}

.catalog span:hover:not(.title-sort) {
  color: #a6a6a6;
  cursor: pointer;
}

.catalog span:active:not(.title-sort) {
  color: #000000;
}

.current.down::before {
  display: block;
  content: " ";
  position: absolute;
  top: 5px;
  right: 6px;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-top: 10px solid #000000;
  border-right: 6px solid #000000;
  border-left: 6px solid #000000;
  border-bottom: 10px solid #000000;
  opacity: 0.8;
  width: 0;
  height: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.down::before {
  display: block;
  content: " ";
  position: absolute;
  top: 5px;
  right: 6px;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-top: 10px solid #d3d2d2;
  border-right: 6px solid #d3d2d2;
  border-left: 6px solid #d3d2d2;
  border-bottom: 10px solid #d3d2d2;
  opacity: 0.8;
  width: 0;
  height: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.down:hover::before {
  content: " ";
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  cursor: pointer;
  border-top: 10px solid #a6a6a6;
  border-right: 6px solid #a6a6a6;
  border-left: 6px solid #a6a6a6;
  border-bottom: 10px solid #a6a6a6;
  opacity: 0.8;
  width: 0;
  height: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.down:active::before {
  content: " ";
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  cursor: pointer;
  border-top: 10px solid #000000;
  border-right: 6px solid #000000;
  border-left: 6px solid #000000;
  border-bottom: 10px solid #000000;
  opacity: 0.8;
  width: 0;
  height: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.up::after {
  content: " ";
  position: absolute;
  top: -5px;
  right: -23px;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-top: 10px solid #d3d2d2;
  border-right: 6px solid #d3d2d2;
  border-left: 6px solid #d3d2d2;
  border-bottom: 10px solid #d3d2d2;
  opacity: 0.8;
  width: 0;
  height: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
}

.up:hover::after {
  content: " ";
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  cursor: pointer;
  border-top: 10px solid #a6a6a6;
  border-right: 6px solid #a6a6a6;
  border-left: 6px solid #a6a6a6;
  border-bottom: 10px solid #a6a6a6;
  opacity: 0.8;
  width: 0;
  height: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
}

.up:active::after {
  content: " ";
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  cursor: pointer;
  border-top: 10px solid #000000;
  border-right: 6px solid #000000;
  border-left: 6px solid #000000;
  border-bottom: 10px solid #000000;
  opacity: 0.8;
  width: 0;
  height: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
}

.catalog {
  width: 760px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 60px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.catalog-item::before {
  display: block;
  position: absolute;
  top: -40px;
  content: "";
  width: 360px;
  height: 40px;
  background: url(../img/browser0.png) no-repeat;
}

.catalog-item:hover::before {
  background-image: url(../img/browser.svg);
}

.catalog-item {
  position: relative;
  margin: 0px;
  width: 360px;
  height: 576px;
  margin-top: 33px;
  margin-bottom: 40px;
}

.catalog-item.sedona {
  background-image: url(../img/img-sedona.jpg);
}

.catalog-item.pink {
  background-image: url(../img/img-pink.jpg);
}

.catalog-item.barbershop {
  background-image: url(../img/img-barbershop.jpg);
}

.catalog-item.mishka {
  background-image: url(../img/img-mishka.jpg);
}

.catalog-item.aplus {
  background-image: url(../img/img-aplus.jpg)
}

.catalog-item.kvast {
  background-image: url(../img/img-kvast.jpg)
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.catalog-item:hover .details {
  display: block;
}

.cite.promo {
  margin: 0;
}

.promo-sedona .details, .promo-pink .details, .promo-barbershop .details, .promo-mishka .details, .promo-aplus .details, .promo-kvast .details {
  display: none;
  position: absolute;
  bottom: -20px;
  padding-top: 35px;
  width: 360px;
  height: 231px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #eeeeee;
}

.details .button-cite {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  border: none;
}

.info-item {
  margin: 34px auto;
  width: auto;
}

.price {
  width: 200px;
  height: 50px;
  font: inherit;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 2px;
  border: none;
  text-transform: uppercase;
}

.button-cite:hover {
  color: #fb565a;
}

.button-cite:active {
  color: #cacaca;
}

.price:hover {
  background-color: #e74246;
}

.price:active {
  background-color: #d7373b;
}

.cite:hover .details {
  display: block;
}

.pagination-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  margin-bottom: 8px;
  list-style: none;
}

.pagination-item a {
  display: inline-block;
  width: 50px;
  margin-right: 10px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  border-radius: 3px;
  background-color: #eeeeee;
  list-style: none;
}

.pagination-item:last-child a {
  width: 260px;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #eeeeee;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
  cursor: pointer;
}

.pagination-item a:active {

  color: #a9a9a9;

  background-color: #d5d5d5;
  box-shadow: inset 0 4px 0 0 rgba(191, 191, 191, 0.9);
}

.pagination-item-current a {
  width: 44px;
  line-height: 44px;
  border: 3px solid #dbdbdb;
  color: #000000;
  background-color: #ffffff;

}

.logo-list {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 180px;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 80px;
  list-style: none;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.logo-list a {
  width: 296px;
  display: block;
  margin: 0;
  padding-top: 10px;
  text-align: center;
  opacity: 0.2;
}

.logo-list li {
  width: 296px;
}

.logo:hover {
  cursor: pointer;
  opacity: 1;
}

.logo:active {
  opacity: 0.1;
}

.contact-info {
  display: block;
  width: 270px;
  height: 275px;
  position: absolute;
  top: 1897px;
  left: 140px;
  padding-top: 35px;
  padding-left: 50px;
  background-color: #ffffff;
}

.inner-page .contact-info {
  top: 2626px;
  left: 140px;
}

.contact-title {
  padding-bottom: 5px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.link-write-us {
  display: inline-block;
  width: 220px;
  margin-top: 15px;
  padding: 16px 0;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
}

.modal {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 960px;
  height: 522px;
  background-color: #ffffff;
  background-image: url(../img/white-back.png);
  background-position: 0 0;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.7);
}

.inner-page .modal-message {
  width: 760px;
  padding: 67px 100px 0px 100px;
  top: 2443px;
  left: 240px;
}

.modal-message {
  width: 760px;
  top: 1706px;
  left: 240px;
  text-align: left;
  padding: 67px 100px 0 100px;
}

.modal-show {
  display: block;
}

.message-title {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-size: 45px;
  line-height: 45px;
}

.message-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.message-items {
  width: 360px;
  margin: 0;
  margin-right: 40px;
}

.message-items:nth-child(2) {
  margin-right: 0;
}

.message-items label {
  display: block;
  margin-bottom: 9px;
  font-weight: bold;
}

.message-items input {
  box-sizing: border-box;
  width: 360px;
  margin: 0;
  margin-bottom: 33px;
  padding: 11px 0 14px 13px;
  line-height: 18px;
  border-radius: 3px;
  outline: none;
}

.message-items:last-child input {
  width: 760px;
  height: 118px;
  margin-bottom: 47px;
  padding-top: px;
  padding-bottom: 88px;
}

.button.message {
  width: 260px;
  height: 50px;
  margin-bottom: 84px;
  line-height: 18px;
  font-weight: 500;
  vertical-align: middle;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
}

.message-form input[type="text"], .message-form input[type="email"] {
  font: inherit;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #d7dcde;
}

.message-form input:focus[type="text"], .message-form input:focus[type="email"] {
  color: #444444;
  border: 2px solid #000000;
}

.message-form input:hover {
  color: #b4b9bb;
  border: 2px solid #b4b9bb;
  cursor: pointer;
}

.message-form input:invalid[type="text"], .message-form input:invalid[type="email"] {
  color: #ed7477;
  background-color: #ffffff;
  border: 2px solid #e74246;
}

.close-cross {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 86px;
  right: 88px;
  font-size: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.close-cross::before, .close-cross::after {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  left: -5px;
  width: 26px;
  height: 4px;
  background-color: #fecccd;
}

.close-cross::before {
  transform: rotate(45deg);
}

.close-cross::after {
  transform: rotate(-45deg);
}

.close-cross:hover::before {
  background-color: #fb565a;
  cursor: pointer;
}

.close-cross:active::before {
  background-color: #fb565a;
  border: none;
  opacity: 0.1;
}

.close-cross:hover::after {
  background-color: #fb565a;
  cursor: pointer;
}

.close-cross:active::after {
  background-color: #fb565a;
  border: none;
  opacity: 0.1;
}

.main-footer {
  margin: 0px;
  padding: 0px;
  height: 220px;
}

.social-footer ul {
  display: flex;
  width: 260px;
  margin: 0;
  margin-right: 140px;
  padding: 49px 0;
  list-style: none;
}

.social-footer {
  display: flex;
  margin: 0px auto;
  padding: 0px;
}

.slogan {
  width: 560px;
  padding-top: 54px;
}

.main-footer b {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.main-footer p {
  line-height: 22px;
  font-weight: 400;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;
  margin-right: 13px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-button a:last-child {
  margin-right: 0;
}

.social-button:hover {
  color: #ffffff;
  background-color: #e74246;
  cursor: pointer;
}

.social-button:active {
  color: #e37376;
  background-color: #d7373b;
}

.social-button:active path {
  fill: #e37376;
}

.marker {
  position: absolute;
  display: block;
  left: 820px;
  top: 1932px;
  font-size: 0;
  width: 231px;
  height: 190px;
  background-image: url(../img/map-marker.png)
}

.inner-page .marker {
  position: absolute;
  display: block;
  left: 820px;
  top: 2661px;
  font-size: 0;
  width: 231px;
  height: 190px;
  background-image: url(../img/map-marker.png)
}

input[type="checkbox"]:checked, input[type="checkbox"]:not(:checked), input[type="radio"]:checked, input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked+label, input[type="checkbox"]:not(:checked)+label {
  display: block;
  position: relative;
  margin-bottom: 17px;
  padding-left: 35px;
  line-height: 20px;
  cursor: pointer;
}

input[type="radio"]:checked+label, input[type="radio"]:not(:checked)+label {
  display: block;
  position: relative;
  margin-bottom: 15px;
  padding-left: 35px;
  line-height: 20px;
  cursor: pointer;
}

input[type="checkbox"]:checked+label::before, input[type="checkbox"]:not(:checked)+label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 19px;
  height: 19px;
  border: 2px solid #b8b8b8;
  border-radius: 2px;
}

input[type="radio"]:checked+label::before, input[type="radio"]:not(:checked)+label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 17px;
  height: 17px;
  border: 4px solid #b8b8b8;
  border-radius: 100%;
}

input[type="checkbox"]:checked+label::after, input[type="checkbox"]:not(:checked)+label::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 8px;
  top: 0px;
  left: 5px;
  border-left: 4px solid #b8b8b8;
  border-bottom: 4px solid #b8b8b8;
  transform: rotate(-45deg);
}

input[type="radio"]:checked+label::after, input[type="radio"]:not(:checked)+label::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 10px;
  left: 8px;
  background-color: #b8b8b8;
  border-radius: 50%;
}

input[type="radio"]:checked+label::after, input[type="checkbox"]:checked+label::after {
  opacity: 1;
}

input[type="radio"]:not(:checked)+label::after, input[type="checkbox"]:not(:checked)+label::after {
  opacity: 0;
}

input[type="radio"]+label {
  color: #b8b8b8;
}

input[type="radio"]:hover+label {
  color: #4d4d4d;
}

input[type="radio"]:hover+label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 17px;
  height: 17px;
  border: 4px solid #4d4d4d;
  border-radius: 100%;
}

input[type="radio"]:hover+label::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 8px;
  left: 8px;
  background-color: #4d4d4d;
  border-radius: 50%;
}

input[type="checkbox"]+label {
  color: #b8b8b8;
}

input[type="checkbox"]:hover+label {
  color: #4d4d4d;
}

input[type="checkbox"]:hover+label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 17px;
  height: 17px;
  border: 2px solid #4d4d4d;
  border-radius: 2px;
}

input[type="checkbox"]:hover+label::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 8px;
  top: 0px;
  left: 5px;
  border-left: 4px solid #4d4d4d;
  border-bottom: 4px solid #4d4d4d;
  transform: -45deg;
}

input[type="radio"]:disabled+label {
  color: #e1e2e3;
}

input[type="radio"]:disabled+label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 17px;
  height: 17px;
  border: 4px solid #ededed;
  border-radius: 100%;
}

input[type="radio"]:disabled+label::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 8px;
  left: 8px;
  background-color: #ededed;
  border-radius: 50%;
}
